*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
/build
*/build
proguard/
*.log
.navigation/
captures/
*.iml
*.jks
.externalNativeBuild
.DS_Store
.idea
/captures
/gradle
/gradlew
/gradlew.bat
*~

local.properties
*/output.json
*/mapping
/tinkerBackApk
/buildSrc